#navbar ul { display: none; }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { float: left; }
#navbar ul li { float: none; }
#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
}
#navbar li {
  float: left;
  position: relative;
}
#navbar { height: 45px; }
#navbar ul {
  display: none;
  background-color: lightgreen;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 50px;
  background-color: lightblue;
  padding-left: 25px;
  min-width: 470px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: black;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: lightgreen; }
#navbar ul li:hover { background-color: lightblue; }
 p {
      font-family: Times New Romans;
      font-size:18px;
      text-align: left;
      color: black; 
      
}
span {
  font-size: 20PX;
  font-weight: bold;
  font-style: italic;
}
 img {
  width: 600px;
  align-content: center;
}
  p{
  margin-left: 200px;
  margin-right: 200px;
 }
 h1 {
   margin-left: 200px;
 }
 h2 {
   margin-left: 200px;
 }
 ul {
   margin-left: 200px;
   margin-right: 200px;
 }
 ol {
   margin-left: 200px;
   margin-right: 200px;
 }
#yu ul{
   margin-left: 0px;
}
